---
layout: layout.liquid
title: Phone a.k.a The most essential
---

<h1>Phone</h1>
<img alt="My Phone" src="/images/phone image.png" class="about" width="50%" />

<p><strong>Short Description:</strong>Emergencies if needed, staying on top of work, school, etc..</p>
<p><strong>Why I cant leave home without them:</strong>No phone means no maps, no way to call for help, no way to pay, etc</p>