---
layout: layout.liquid
title: My Trusty Wallet
---

<h1>Wallet</h1>
<img alt="My Wallet" src="/images/wallet image.png" class="about" width="50%" />

<p><strong>Short Description:</strong>cash, credit cards, ID, and driver’s license.</p>
<p><strong>Why I cant leave home without them:</strong>No money, no way to pay for anything, and no ID means you can’t prove who you are or complete most daily tasks like buying food or driving legally.</p>