<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" {% if page.fileSlug == 'index' %}class="active"{% endif %}>Home</a></li>
      <li><a href="/keys/" {% if page.fileSlug == 'keys' %}class="active"{% endif %}>Keys</a></li>
      <li><a href="/wallet/" {% if page.fileSlug == 'wallet' %}class="active"{% endif %}>Wallet</a></li>
      <li><a href="/phone/" {% if page.fileSlug == 'phone' %}class="active"{% endif %}>Phone</a></li>
    </ul>
  </nav>
  <main>{{ content }}</main>
</body>
</html>